#create-description-input{
    
    size: fixed;
    position: relative;
    height: 300px;
    width: 600px;
    padding:5px; 
}

#create-title-input{
    
    padding:5px; 
    width: 300px;
}

#add-file-title{
    position: relative;
    left: -90px;
    top: 0px;
    display: inline-block;
}

#input-file{
    position: relative;
    left: -88px;
    top: 0px;
}

#add-image-title{
    position: relative;
    display: inline-block;
}

#input-image{
    position: relative;
    left: 2px;
        
}

#create-note-image{
    height: auto;
    width: auto;
    max-width: 250px;
    max-height: 250px;
}
.add-image-ul{
    position: relative;
    left: 94px;
}

.add-file-ul{
    position: relative;
    left: 94px;
}

/* Buttons */

#add-button{
    background-color: #b4bab181; 
    border: none; 
    border-radius: 3px; 
    color: #333;
    padding: 7px 32px; 
    font-size: 15px;
    position: relative;
    left: 82%;
}
#add-button:hover{
    background-color: #b4bab1d2; 
    cursor: pointer;
}

#add-files-button{
    background-color: #b4bab181; 
    border: none; 
    border-radius: 3px; 
    color: #333;
    padding: 7px 26px;
    font-size: 15px;
}
        
#add-files-button:hover{
    background-color: #b4bab1d2; 
    cursor: pointer;
}
        
#add-image-button{
    border: none; 
    border-radius: 3px; 
    color: #333;
    padding: 7px 15px; 
    font-size: 15px;
    position: relative;
    left: -1px;
    top: -36px;
}

.delete-create-image{
    cursor: pointer;
    color: rgb(165, 0, 0);
    background-color: white;
    position: absolute;
    border: none;
    font-size: larger;
}

.delete-create-image:hover{
    color: rgb(255, 0, 0);
}

